@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the official Techspo™ WebApplication!</h1>
    <p class="lead"> Techspo is ... </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>I need something here </h2>
        <p>
            With Description here
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"> (＃°Д°) </a></p>
    </div>
    <div class="col-md-4">
        <h2> ,here </h2>
        <p> ,here </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866"> :D </a></p>
    </div>
    <div class="col-md-4">
        <h2> and here </h2>
        <p> And finally here  </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867"> （⊙ｏ⊙） </a></p>
    </div>
    <p> PS, changes to font can be made, you just say how and what </p>
</div>